/* @font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Regular.ttf);
} */

@import url('https://fonts.googleapis.com/css?family=Montserrat');

html, body {
    background-color: #818E7B;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#quote-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 70px;
    width: 500px;
    border-radius: 5px;
    min-height: 150px;
}

.fa-quote-left {
    margin: 0 10px 0 10px;
    font-size: 45px;
}

#text, #author, #quote-text {
    font-family: 'Montserrat';
    color: #818E7B;
}

#quote-text {
    display: flex;
    flex-direction: row;
}

#text {
    font-size: 32px;
    font-weight: 800;
    text-align: left;
}

#author {
    margin: 15px 0 15px auto;
    font-size: 20px;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 500px;
    margin: 30px 30px 0 30px;
}

.button:hover {
    cursor: pointer;
    opacity: 90%;
}

.button {
    color: white;
    background-color:  #818E7B;
    padding: 15px 20px;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
}

a, #footer {
    color: white;
    text-decoration: none;
    font-family: "Montserrat";
}

#footer {
    margin: 15px;
    font-size: 14px;
}